@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
    --corMain:#8257E6;
    --corWhite:#FEFBFB;
    --corWhite200:#C4C4C4;
    --corGray200:#282830;
    --corDark:#13131F;

    --fontInter: 'Inter', sans-serif ;
    --fontLexendDeca: 'Lexend Deca', sans-serif ;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    background-color:var(--corDark) ;
    font-family: var(--fontLexendDeca);
    color: var(--corWhite);
    font-size: 62.5%;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


header, main{
    max-width: 1200px;
    width: 90%;
    margin: auto;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 26px 0 ;
    position: relative;
}
 #logo{
    max-width: 350px;
    width: 100%;
    margin-left: -34px;
}
#logo-hambu{
    display: none;
}


header nav #menu {
    display: flex;
    list-style: none;
    gap: 5.5rem;
}

header nav ul .li-main a{
   font-family: var(--fontInter);
   font-size: 2.1rem;
   font-weight: 500;
   text-decoration: none;
   color: var(--corWhite200);
}
header nav ul .li-main a:hover{
    color: #8257e6;
}

#seta{
    display: flex;
    cursor: pointer;
}
#icone-seta{ 
   width: 40px;
   margin-top: -8px;
}
#ul-contato{
    position: absolute;
    right: -9px;
    top: 94px;
    z-index: 1500;
    visibility: hidden;
    overflow-y: auto;
    
}
#ul-contato li a{
    font-size: 1.6rem;
}
#nav.active #ul-contato{
    visibility: visible;
    
    
}
ul li ul li{
    list-style: none;
    background-color: #282830;
    padding: 20px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.096);
}
ul li ul li a{
    padding: 10px;
    display: block;
    
}

#btn-mobile{
   display: none; 
}


main .presentation{
    margin-top: 50px;
    font-size: 3.0rem;
    font-weight: 400;
}
main p{
    font-family: var(--fontInter);
    font: 500;
    font-size: 1.9rem;
    color: #C4C4C4;
    padding-top: 11px;
    line-height: 30px;
}


.slider{
    width: 800px;
    height: 400px;
    overflow: hidden;
    margin-top: 50px;
    position: relative;
}

.slides{
    width: 400%;
    height: 400px;
    display: flex;
}

.slides input{
    display: none;
}
.slide{
    width: 25%;
    position: relative;
}
.slide a p:hover{
    color: #8257E6;
}
.slide img {
    width: 800px; 
   
}
.manual-navigation{
    position: absolute;
    left: 38%;
    max-width: 800px;
    margin-top: -22px;
    display: flex;
    justify-content: center;
}
.navigation-auto{
    position: absolute;
     left: 38%;
    max-width: 800px;
    margin-top: 378px;
    display: flex;
    justify-content: center;
}
.manual-btn{
    border:2px solid white;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background-color: white ;
}

#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -25%;
}
#radio3:checked ~ .first{
    margin-left: -50%;
}
#radio4:checked ~ .first{
    margin-left: -75%;
}

.navigation-auto div{
    border: 2px solid #20a6ff;
    padding: 5px;
    border-radius: 10px ;
    cursor: pointer;
    transition: 1s;
}

.navigation-auto div:not(:last-child){
   margin-right:40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: white;
}
#radio2:checked ~ .navigation-auto .auto-btn2{
    background-color: white;
}
#radio3:checked ~ .navigation-auto .auto-btn3{
    background-color: white;
}
#radio4:checked ~ .navigation-auto .auto-btn4{
    background-color: white;
}

.firts-news{
    display: flex;
    gap: 15px;
    font-size: 1.5rem;
}
.mini-news p{
    font-size: 1.5rem;
    line-height: 22px;
    padding: 0px 20px;
    margin-bottom: -19px;
}
.news-rigth{
    height: 188px;
    margin-top: 50px;
    position: relative;
}
#two{
    margin-top: 24px;
}
.news-rigth img{
    width: 338px;
    height: 190px;
    object-fit: cover; 
}
.news-rigth a p:hover {
    color: #8257E6;
}
.title-news{
    color: white;
    position: absolute;
    bottom: 10%;
    font-weight: 400;
    font-size: 3.0rem;
    line-height: 44px;
    padding: 10px 20px;
    font-family: var(--fontLexendDeca);
}
main button{
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 5;
    width: 80px;
    height: 25px;
    border-radius: 3px;
    background-color: #8257E6;
    color: white;
    border: none;
    cursor: pointer;
}
.mini{
   position: absolute;
   top: 5px;
   left: 10px;
}
img{
    /* opacity: 0.5; */
}
.news-wrapper{
    display: flex;
}
.wrapper{
    max-height: 1000px;
    max-width: 800px;
    border: 1px solid black;
    overflow-y: auto;
    margin-top: 50px;
    border-left: 0px ;
    border-right: 0px;
}
.wrapper::-webkit-scrollbar{
   background-color:#282830 ;
   width: 10px; 
}
.wrapper::-webkit-scrollbar-thumb{
    background-color:#8257E6;
    border-radius: 8px;
    height: 60px;
}
.wrapper .box{
    max-width: 788px;
    height: 200px;
    margin-top: 30px;
    position: relative;
}
.box img{
    max-width: 260px;
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.box{
    display: flex;
}
span{
    display: block;
    font-size: 1.2rem;
    font-weight: 200;
}
.tex{
    padding: 0 20px;
}

.tex h3{
    font-size: 1.9rem;
    color: #FEFBFB;
    opacity: 0.9;
    font-weight: 400;
}
 a {
  text-decoration: none;
}
.tex h3:hover{
   color: #8257e6;
}
.tex  p{
    margin: 12px 0px;
    font-size: 1.6rem;
    line-height: 27px;
    color: rgb(196, 196, 196);
    font-family: var(--fontInter);
}

.ad{
    width: 390px;
    height: 1000px;
    background-color: gray;
    display: inline-block;
    margin-top: 50px;
    margin-left: 10px;
}
.ad2{
    background-color: gray;
    width: 100%;
    height: 200px;
    margin-top: 50px;
}
.recent{
    max-width: 1200px;
    height: auto;
    margin-top: 64px;
}
.recent h3{
    margin-bottom: 25px;
    font-weight: 400;
    font-size: 2.4rem;
    font-family: var(--fontInter);
    color: #FEFBFB;
    text-align: center;
}
.recent .conteiner-recent .box a p:hover{
    color: #8257E6;
    font-weight: 600;
}
.recent .conteiner-recent{
    text-align: center;
} 
.recent .conteiner-recent .box{
    max-width: 338px;
    width: 90%;
    height: 250px;
    display: inline-block;
    margin: 20px 25px;
    position: relative;
}
.recent .conteiner-recent .box img{
    max-width: 338px;
    width: 100%;
    height: 190px;
    object-fit: cover;
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
    cursor: pointer;
}
.conteiner-recent .box img:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.recent .conteiner-recent .box a p{
    position: absolute;
    bottom: 24%;
    left: 3%;
    z-index: 5;
    color: #FEFBFB;
    text-align: left;
    line-height: 20px;
    font-size: 1.6rem;
}
hr{
    height: 1px;
    border-color: hsla(258, 74%, 62%, 0.034);
}
footer{
    margin: 73px 0 42px 0px;
    text-align: center;
    font-size: 1.8rem;
    color: #8257E6;
}
footer p{
    font-size: 1.0rem;
    color: white;
}
/*Page slide*/

.news-click{
    font-family: var(--fontInter);
    margin-top: 50px;
    
}
.news-click img{
    width: 100%;
    height: 500px;
    object-fit: cover;
}
.news-click h1{
   font-size: 3.6rem;
   padding-bottom: 30px;
}
.news-click p{
    font-size: 2.4rem;
    font-weight: 400;
    padding: 12px 0;
    line-height: 4rem;
 }
 .news-click h2{
    font-size: 3.4rem;
    font-weight: 400;
    line-height: 4rem;
    padding-top: 24px;
 }
 #hr-se{
    height: 2px;
    margin-bottom: 50px;
 }
 a:hover{
    text-decoration: underline;
 }
 /*page navbar*/

 
 .text-back{
    padding-top: 58px;
 }
 .text-back h1{
    font-size: 4.8rem;
    padding: 17px 0 ;
 }
.text-back p{
    font-size: 2rem;
 }

 /*page series*/
 .series-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 100px;
 }
 .series-box .box-series{
    width: 338px;
    margin: auto;
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
    cursor: pointer;
    position: relative;
 }
 .series-box .box-series:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

 .series-box .box-series img{
    max-width: 338px;
    width: 100%;
    object-fit: cover;
    

 }
 .series-box .box-series h2{
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2.0rem;
    color: #FEFBFB;
    position: absolute;
    bottom: 0%;
    left: 0%;
    z-index: 2000;
    padding: 10px;
 }

 .creditos{
    font-size: 2.0rem;
    padding-top: 10px ;
    font-family: var(--fontLexendDeca);
    font-weight: 600;
 }
.info{
    padding-top: 10px;
}


@media (max-width:1150px){
    .mini-news{
        display: none;
    }
    .slider {
        margin: auto;
    }
    .tex h3 {
        font-size: 1.6rem;
    }
    .ad {
        display: none;
    }
    .wrapper {
        max-width: 1200px;
        width: 100%;
    }
    .wrapper .box {
        max-width: 968px;
        height: auto;
    }
    header nav ul .li-main a{
        font-size: 1.8rem;
    }
    .firts-news {
        margin-top: 50px;
    }
    main button {
    top: 3%;
    left: 9%;
    width: 9%;
    height: 5%;
    font-size: 1.0rem;
   }
}

@media (max-width:960px){
    html, body{
        font-size: 50%;
    }
    header nav #menu  {
        gap: 3rem;
    }
}
@media(max-width:883px){
    .recent .conteiner-recent .box {
        max-width: 228px;
        width: 90%;
        height: 230px;
        margin: 0px 6px;
    }
}
@media (max-width:744px){
    #ul-contato, #seta{
        display: none;
        visibility: hidden;
    }
    .box{
        display: inline-block;
        text-align: center;
        margin: auto;
        margin-right: 15px;
        margin-left: 15px;
    }
    .tex {
        max-width: 258px;
        text-align: left;
        margin: auto;
        padding: 0px;
    }
    header nav #menu  {
        gap: 2rem;
    }
    header nav #menu{
        display: block;
        position: absolute;
        width: 0px;
        height: 110vh;
        top: 0px;
        left: 0px;
        background-color: #282830;
        z-index: 1000;
        padding-top: 130px;
        position: fixed;
        overflow-y: auto;
        transition: .3s;
    }
    #nav.active #menu{
        max-width: 300px;
        width: 60%;
        padding-left: 20px;
    }
    header .li-main{
        padding: 15px 0 ;
    }
    header ul li a{
        color: var(--corMain);
    }
    #btn-mobile{
        display: flex;
        padding: .5rem 1rem;
        font-size: 1.5rem;
        border: none;
        background: none;
        cursor: pointer;
        color: #8257E6;
        gap: .5rem;
    }
    #hamburger{
        display: block;
        width: 20px;
        border-top: 2px solid #8257E6;
    }
    #hamburger::after, #hamburger::before {
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background:#8257E6;
        margin-top: 5px;
        transition: .3s;
        position: relative;
    }
    #nav.active #hamburger{
        border-top-color:transparent ;
    }
    #nav.active #hamburger::before{
        transform: rotate(135deg);
    }
    #nav.active #hamburger::after{
        transform: rotate(-135deg);
        top: -7px;
    }
    #logo-hambu{
        position: absolute;
        max-width: 300px;
        width: 70%;
        margin-left:-14px;
        top: 20px;
        left: 0px;
        z-index: 1200;
        display: block;
        visibility: hidden;
        position: fixed;
    }
    #nav.active #logo-hambu{
        transition-delay: 230ms;
        visibility: visible;
    }
    .slide img {
        width: 85%;
        text-align: center;
        margin: auto;
        display: block;
    }
    .title-news {
        position: relative;
        padding: 0px;
        font-size: 2rem;
        top: 7px;
        text-align: center;
    }
    .manual-navigation {
       display: none;
       
    }
    .navigation-auto {
        display: none;
    }
    .wrapper{
        margin-top: 30px;
        text-align: center;
     }
    

    
}
@media (max-width:683px){
    
    .box{
        display: block;
    }

    html, body{
        font-size: 50%;
    }
   
    .presentation p{
        font-size: 1.6rem;
    } 
    .news-wrapper {
        margin-top: -12%;
    }
}
@media (max-width:552px){
    .recent .conteiner-recent .box {
        max-width: 338px;
        width: 90%;
        height: 250px;
        display: inline-block;
        margin: -15px 15px;
        position: relative;
    }
}
@media (max-width:483px){
    .news-wrapper {
        margin-top: -30%;
    }
}
@media (max-width: 360px){
    .box img, .recent .conteiner-recent .box img {
        width: 100%;
        object-fit: cover;
    }
    .recent .conteiner-recent .box img {
        width: 338px;
        width: 90%;
        object-fit: cover;
    }
    .recent .conteiner-recent .box a p {
        padding: 10px;
        font-size: 1.3rem;
    }
   
}
